/* SWITCH ON COMPASS */
@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* SWITCH ON SPRITES */
/* line 56, icons/*.png */
.icons-sprite, .icons-arrow, .icons-bullet__dot {
  background-image: url('../img/icons-s88a6bd9467.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow {
  background-position: 0 0;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet__dot {
  background-position: 0 -8px;
}

/* line 13, ../sass/_settings.scss */
.icons-arrow {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 8px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

/* line 13, ../sass/_settings.scss */
.icons-bullet__dot {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

/* CONNECT GOOGLE FONTS */
/* CONNECT LOCAL FONTS */
@font-face {
  font-family: DINNextLTProMediumCond;
  src: url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.eot");
  src: url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.eot") format("embedded-opentype"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.woff2") format("woff2"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.woff") format("woff"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.ttf") format("truetype"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: DINNextLTProMediumCond;
    src: url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.svg#DINNextLTProMediumCond") format("svg");
  }
}
/* line 67, ../sass/_settings.scss */
html {
  /* height hack */
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* line 74, ../sass/_settings.scss */
body {
  /* height hack */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* VERTICAL RYTHM */
  /* SMOOTH FONT */
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 87, ../sass/_settings.scss */
body.onload {
  overflow: hidden;
}

/* line 88, ../sass/_settings.scss */
button, select {
  -webkit-appearance: none;
}

/* SELECT TEXT */
/* line 91, ../sass/_settings.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 96, ../sass/_settings.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 105, ../sass/_settings.scss */
a {
  text-decoration: underline;
}

/* line 112, ../sass/_settings.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 119, ../sass/_settings.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 125, ../sass/_settings.scss */
textarea {
  resize: vertical;
}

/* System */
/* line 131, ../sass/_settings.scss */
.np {
  padding: 0;
}

/* no padding */
/* line 132, ../sass/_settings.scss */
.np-l {
  padding-left: 0;
}

/* no padding left */
/* line 133, ../sass/_settings.scss */
.np-r {
  padding-right: 0;
}

/* no padding right */
/* line 134, ../sass/_settings.scss */
.dp {
  padding: 0 30px;
}

/* double padding */
/* line 135, ../sass/_settings.scss */
.nm {
  margin: 0;
}

/* no margin */
/* line 136, ../sass/_settings.scss */
.nm-b {
  margin-bottom: 0;
}

/* no margin bottom */
/* line 137, ../sass/_settings.scss */
.p_small {
  padding: 5px;
}

/* BASE RESET */
/* line 140, ../sass/_settings.scss */
.navbar-default .navbar-toggle {
  border: none;
}

/* HAPPY BROWSER */
/* line 143, ../sass/_settings.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* fonts */
/* colors */
/* buttons */
/* line 20, ../sass/_style.scss */
a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
/* line 23, ../sass/_style.scss */
a:hover {
  text-decoration: none;
}

/* line 30, ../sass/_style.scss */
.app {
  min-width: 320px;
  background-color: #c8cfdc;
}

/* line 31, ../sass/_style.scss */
.header {
  padding: 21px 50px 20px;
  background-color: #fff;
  margin: 20px 0;
}

/* line 32, ../sass/_style.scss */
.product {
  padding: 57px 50px 150px;
  background-color: #fff;
}

/* line 33, ../sass/_style.scss */
.intro {
  background: url(../img/wr-intro_bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 261px 50px 234px;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 33, ../sass/_style.scss */
  .intro {
    padding: 100px 0;
  }
}

/* line 40, ../sass/_style.scss */
.info {
  background: #F5F5F5 url(../img/wr-info_bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 115px;
  background-color: #fff;
}

/* line 48, ../sass/_style.scss */
.social {
  padding: 111px 50px 207px;
  background-color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 48, ../sass/_style.scss */
  .social {
    padding: 100px 0;
  }
}

/* line 52, ../sass/_style.scss */
.footer {
  background: #0c0d0d;
  margin-bottom: 20px;
  padding: 0 50px;
}

/* line 53, ../sass/_style.scss */
.footer__top {
  padding: 40px 0;
}

/* line 54, ../sass/_style.scss */
.footer__bottom {
  padding: 6px 0 34px;
}

/* line 62, ../sass/_style.scss */
.logo {
  display: block;
}

/* line 67, ../sass/_style.scss */
.header__navig {
  padding-top: 15px;
  margin-left: -14px;
}
@media only screen and (max-width: 1199px) {
  /* line 67, ../sass/_style.scss */
  .header__navig {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  /* line 67, ../sass/_style.scss */
  .header__navig {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 67, ../sass/_style.scss */
  .header__navig {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 481px) {
  /* line 67, ../sass/_style.scss */
  .header__navig {
    margin-bottom: 30px;
  }
}

/* line 82, ../sass/_style.scss */
.navig__item {
  margin-right: 36px;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  /* line 82, ../sass/_style.scss */
  .navig__item {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 82, ../sass/_style.scss */
  .navig__item {
    margin-right: 3px;
  }
}
@media only screen and (max-width: 332px) {
  /* line 82, ../sass/_style.scss */
  .navig__item {
    margin-right: 0px;
  }
}
/* line 93, ../sass/_style.scss */
.navig__item:last-child {
  margin-right: 0px;
}

/* line 97, ../sass/_style.scss */
.navig__link {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
/* line 101, ../sass/_style.scss */
.navig__link_active {
  color: #0089cf;
  border-bottom: 4px solid #0089cf;
}
/* line 106, ../sass/_style.scss */
.navig__link:hover {
  color: #0089cf;
}
@media only screen and (max-width: 481px) {
  /* line 97, ../sass/_style.scss */
  .navig__link {
    font-size: 13px;
    letter-spacing: 0.4px;
    padding-bottom: 20px;
  }
}

/* line 115, ../sass/_style.scss */
.actions.header__actions {
  padding-top: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 115, ../sass/_style.scss */
  .actions.header__actions {
    text-align: center;
  }
}

/* line 122, ../sass/_style.scss */
.actions {
  float: right;
}

/* line 124, ../sass/_style.scss */
.actions__item {
  margin-right: 24px;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  /* line 124, ../sass/_style.scss */
  .actions__item {
    margin-right: 10px;
  }
}
/* line 129, ../sass/_style.scss */
.actions__item:last-child {
  margin-right: 0px;
}

/* line 132, ../sass/_style.scss */
.actions__link {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
/* line 134, ../sass/_style.scss */
.actions__link i {
  font-size: 18px;
  margin-right: 9px;
}
@media only screen and (max-width: 481px) {
  /* line 134, ../sass/_style.scss */
  .actions__link i {
    font-size: 14px;
  }
}
/* line 141, ../sass/_style.scss */
.actions__link_numb span {
  color: #0089cf;
  margin-left: 3px;
}
/* line 146, ../sass/_style.scss */
.actions__link:hover {
  color: #0089cf;
}
@media only screen and (max-width: 481px) {
  /* line 132, ../sass/_style.scss */
  .actions__link {
    font-size: 13px;
    letter-spacing: 0.4px;
    padding-bottom: 0px;
  }
}

/* line 154, ../sass/_style.scss */
.search.header__search {
  margin-top: 30px;
}

/* line 157, ../sass/_style.scss */
.search {
  position: relative;
  display: none;
}

/* line 160, ../sass/_style.scss */
.search__input {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  width: 100%;
  padding: 20px 25px;
  border: 2px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 165, ../sass/_style.scss */
.search__input:hover {
  border: 2px solid #333333;
}
/* line 167, ../sass/_style.scss */
.search__input:focus {
  border: 2px solid #333333;
}

/* line 169, ../sass/_style.scss */
.search__button {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  position: absolute;
  right: 3%;
  top: 33%;
  border: none;
  background: transparent;
}
/* line 174, ../sass/_style.scss */
.search__button:hover {
  color: #333333;
}

/* line 180, ../sass/_style.scss */
.product__image {
  margin-top: 99px;
}
@media only screen and (max-width: 767px) {
  /* line 180, ../sass/_style.scss */
  .product__image {
    width: 480px;
    margin: 90px auto 20px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 180, ../sass/_style.scss */
  .product__image {
    width: 320px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 192, ../sass/_style.scss */
  .product-bar {
    text-align: center;
  }
}

/* line 196, ../sass/_style.scss */
.product-bar__like {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 41px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  /* line 196, ../sass/_style.scss */
  .product-bar__like {
    margin: 0 auto 20px;
  }
}
/* line 203, ../sass/_style.scss */
.product-bar__like i {
  color: #e4e4e4;
}
/* line 206, ../sass/_style.scss */
.product-bar__like:hover {
  border: 1px solid #000;
}
/* line 208, ../sass/_style.scss */
.product-bar__like:hover i {
  color: #000;
}

/* line 212, ../sass/_style.scss */
.product-bar__name {
  margin-bottom: 18px;
}

/* line 216, ../sass/_style.scss */
.pr-name__brand, .sb-name__brand {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  /* line 216, ../sass/_style.scss */
  .pr-name__brand, .sb-name__brand {
    font-size: 23px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 216, ../sass/_style.scss */
  .pr-name__brand, .sb-name__brand {
    font-size: 20px;
    line-height: 20px;
  }
}

/* line 224, ../sass/_style.scss */
.pr-name__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media only screen and (max-width: 991px) {
  /* line 224, ../sass/_style.scss */
  .pr-name__title {
    font-size: 32px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 224, ../sass/_style.scss */
  .pr-name__title {
    font-size: 28px;
    line-height: 28px;
  }
}

/* line 232, ../sass/_style.scss */
.pr-name__price {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
}

/* line 237, ../sass/_style.scss */
.product-bar__preview {
  margin-bottom: 5px;
}

/* line 238, ../sass/_style.scss */
.preview-colors {
  margin-bottom: 12px;
}

/* line 239, ../sass/_style.scss */
.preview-colors__item {
  display: inline-block;
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

/* line 243, ../sass/_style.scss */
.preview-colors__link {
  color: #0089cf;
}
/* line 245, ../sass/_style.scss */
.preview-colors__link:hover {
  text-decoration: underline;
}

/* line 247, ../sass/_style.scss */
.preview-image {
  display: inline-block;
  margin-right: 4px;
}

/* line 250, ../sass/_style.scss */
.preview-image__item, .pr-bar__img {
  width: 80px;
  height: 80px;
  padding: 22px 8px;
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
}

/* line 257, ../sass/_style.scss */
.size__name {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 37px;
  letter-spacing: 0.6px;
}

/* line 261, ../sass/_style.scss */
.buttn__item, .sb-buttn__item {
  display: inline-block;
  position: relative;
}

/* line 265, ../sass/_style.scss */
.buttn__link, .buttn__link_white, .sb-buttn__link_white, .buttn__link_gray, .sb-buttn__link_gray, .sb-buttn__link {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 6px;
}
/* line 268, ../sass/_style.scss */
.buttn__link:last-child, .buttn__link_white:last-child, .sb-buttn__link_white:last-child, .buttn__link_gray:last-child, .sb-buttn__link_gray:last-child, .sb-buttn__link:last-child {
  margin-right: 0px;
}

/* line 270, ../sass/_style.scss */
.buttn__link_white, .sb-buttn__link_white {
  border: 1px solid  #e4e4e4;
  padding: 16px 19px;
}
/* line 272, ../sass/_style.scss */
.buttn__link_white i, .sb-buttn__link_white i {
  top: 2px;
  margin-left: 55px;
}
/* line 275, ../sass/_style.scss */
.buttn__link_white:hover, .sb-buttn__link_white:hover {
  background: #ccc;
}

/* line 277, ../sass/_style.scss */
.buttn__link_gray, .sb-buttn__link_gray {
  color: #fff;
  background: #333333;
  padding: 19px 30px 17px;
}

/* line 284, ../sass/_style.scss */
ul.dropMe {
  width: 95%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
}
/* line 287, ../sass/_style.scss */
ul.dropMe li {
  text-align: center;
  display: inline-block;
  border: 1px solid  #e4e4e4;
  background: #fff;
}
/* line 292, ../sass/_style.scss */
ul.dropMe li:hover {
  background: #ccc;
}
/* line 294, ../sass/_style.scss */
ul.dropMe li a {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 16px 19px;
  display: block;
}

/* line 303, ../sass/_style.scss */
.intro-text__title {
  color: #ffffff;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  /* line 303, ../sass/_style.scss */
  .intro-text__title {
    font-size: 23px;
    line-height: 23px;
    text-shadow: 0px 0px 2px #000;
  }
}
@media only screen and (max-width: 481px) {
  /* line 303, ../sass/_style.scss */
  .intro-text__title {
    font-size: 20px;
    line-height: 20px;
  }
}

/* line 309, ../sass/_style.scss */
.intro-text__text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  margin-left: 3px;
}
@media only screen and (max-width: 991px) {
  /* line 309, ../sass/_style.scss */
  .intro-text__text {
    text-shadow: 0px 0px 2px #000;
  }
}

/* line 317, ../sass/_style.scss */
.story {
  margin-bottom: 36px;
}

/* line 318, ../sass/_style.scss */
.story__s-title, .benefits__s-title, .pr-desc__s-title {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/* line 321, ../sass/_style.scss */
.story__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  /* line 321, ../sass/_style.scss */
  .story__title {
    font-size: 23px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 321, ../sass/_style.scss */
  .story__title {
    font-size: 20px;
    line-height: 20px;
  }
}

/* line 327, ../sass/_style.scss */
.story__text {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.3px;
  margin-left: 2px;
}

/* line 335, ../sass/_style.scss */
.benefits__s-title {
  display: block;
  margin-bottom: 17px;
}

/* line 339, ../sass/_style.scss */
.benefits__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-left: 2px;
}

/* line 343, ../sass/_style.scss */
.benefits__small {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  display: block;
  margin-left: 2px;
  margin-bottom: 12px;
}

/* line 349, ../sass/_style.scss */
.info__sell-box {
  padding: 20px 25px 25px;
  margin-left: 18px;
  margin-top: 13px;
  border: 4px solid #e4e4e4;
  background: #fff;
}
@media only screen and (max-width: 1199px) {
  /* line 349, ../sass/_style.scss */
  .info__sell-box {
    width: 125%;
    margin-left: -54px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 349, ../sass/_style.scss */
  .info__sell-box {
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 349, ../sass/_style.scss */
  .info__sell-box {
    text-align: center;
    width: 320px;
    margin: 0 auto;
  }
}

/* line 356, ../sass/_style.scss */
.sb-name.sell-box__name {
  margin-bottom: 12px;
}

/* line 357, ../sass/_style.scss */
.sb-name__brand {
  margin-bottom: 5px;
}

/* line 361, ../sass/_style.scss */
.sb-name__title {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.3px;
}

/* line 364, ../sass/_style.scss */
.sell-box__preview {
  padding-right: 20px;
}

/* line 365, ../sass/_style.scss */
.sb-preview-image {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 365, ../sass/_style.scss */
  .sb-preview-image {
    width: 260px;
    margin: 0 auto 50px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 365, ../sass/_style.scss */
  .sb-preview-image {
    width: 200px;
  }
}

/* line 370, ../sass/_style.scss */
.sb-preview__status {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
@media only screen and (max-width: 481px) {
  /* line 370, ../sass/_style.scss */
  .sb-preview__status {
    font-size: 12px;
    letter-spacing: 0.4px;
    float: left;
  }
}

/* line 374, ../sass/_style.scss */
.sb-preview__price {
  float: right;
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* line 374, ../sass/_style.scss */
  .sb-preview__price {
    float: none;
    margin-left: 135px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 374, ../sass/_style.scss */
  .sb-preview__price {
    font-size: 12px;
    letter-spacing: 0.4px;
    float: right;
    margin-left: 0;
  }
}

/* line 388, ../sass/_style.scss */
.sb-buttn__link_white {
  padding: 16px 14px 16px 19px;
}
/* line 391, ../sass/_style.scss */
.sb-buttn__link_white i {
  margin-left: 50px;
}

/* line 393, ../sass/_style.scss */
.sb-buttn__link_gray {
  padding: 19px 25px 17px;
}

/* line 399, ../sass/_style.scss */
.social__text {
  margin-bottom: 37px;
}

/* line 401, ../sass/_style.scss */
.s-text__s-title {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

/* line 405, ../sass/_style.scss */
.s-text__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  /* line 405, ../sass/_style.scss */
  .s-text__title {
    font-size: 23px;
    line-height: 23px;
  }
}

/* line 413, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-nav {
  display: none;
}
/* line 414, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots {
  margin-top: 30px;
  text-align: center;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  /* line 414, ../sass/_style.scss */
  .jsCarousel .owl-controls .owl-dots {
    margin-left: 0px;
  }
}
/* line 417, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 5px;
}
/* line 419, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ccc;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 424, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot.active span {
  background: #0089cf;
  border: 2px solid #0089cf;
}
/* line 425, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot:hover span {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 426, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot.active:hover span {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 441, ../sass/_style.scss */
.f-menu__link {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
/* line 443, ../sass/_style.scss */
.f-menu__link:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 481px) {
  /* line 441, ../sass/_style.scss */
  .f-menu__link {
    font-size: 12px;
    letter-spacing: 0.4px;
  }
}

/* line 448, ../sass/_style.scss */
.f-social {
  margin-bottom: 24px;
}
@media only screen and (max-width: 767px) {
  /* line 448, ../sass/_style.scss */
  .f-social {
    text-align: center;
    margin-top: 20px;
  }
}

/* line 452, ../sass/_style.scss */
.f-social__item {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}
/* line 454, ../sass/_style.scss */
.f-social__item:last-child {
  margin-right: 0px;
}

/* line 456, ../sass/_style.scss */
.f-social__link {
  line-height: 50px;
  text-align: center;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #252626;
}
/* line 460, ../sass/_style.scss */
.f-social__link i {
  font-size: 18px;
  color: #666666;
}
/* line 461, ../sass/_style.scss */
.f-social__link:hover {
  border: 1px solid #0089cf;
}
/* line 463, ../sass/_style.scss */
.f-social__link:hover i {
  color: #0089cf;
}

/* line 466, ../sass/_style.scss */
.f-form {
  position: relative;
}

/* line 467, ../sass/_style.scss */
.f-form__input {
  color: #0089cf;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.3px;
  border: none;
  border-bottom: 2px solid #252626;
  background: #0c0d0d;
  padding-left: 30px;
  padding-bottom: 10px;
  width: 85%;
}
/* line 61, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input:-moz-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 64, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input::-moz-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 67, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input:-ms-input-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 56, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input::-webkit-input-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 472, ../sass/_style.scss */
.f-form__input:hover, .f-form__input:focus {
  border-bottom: 2px solid #0089cf;
}

/* line 474, ../sass/_style.scss */
.f-form__button {
  position: absolute;
  left: -3px;
  top: 0;
  border: none;
  background: transparent;
}
/* line 477, ../sass/_style.scss */
.f-form__button i {
  color: #252626;
}
/* line 481, ../sass/_style.scss */
.f-form__button:hover i {
  color: #0089cf;
}

/* line 486, ../sass/_style.scss */
.f-bot {
  text-align: center;
}

/* line 487, ../sass/_style.scss */
.f-bot__copyright {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.3px;
}
@media only screen and (max-width: 481px) {
  /* line 487, ../sass/_style.scss */
  .f-bot__copyright {
    font-size: 9px;
  }
}

/* line 491, ../sass/_style.scss */
.copyright__link {
  color: #666666;
}
/* line 493, ../sass/_style.scss */
.copyright__link:hover {
  color: #0089cf;
}

/* line 500, ../sass/_style.scss */
.product-cover {
  padding: 130px 50px 156px;
  background-color: #fff;
  margin-bottom: 20px;
}

/* line 506, ../sass/_style.scss */
.pr-bar__item {
  margin-bottom: 10px;
}

/* line 514, ../sass/_style.scss */
.pr-bar__img_cloth {
  padding: 0px 10px;
}

/* line 521, ../sass/_style.scss */
.product-cover__image {
  margin: 25px auto 0;
}

/* line 524, ../sass/_style.scss */
.product-cover__image_cloth {
  margin: 0 auto;
}

/* line 525, ../sass/_style.scss */
.pr-name__type-of-cloth {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 530, ../sass/_style.scss */
.product-cover__description {
  margin-left: 20px;
}

/* line 532, ../sass/_style.scss */
.product-bar__description {
  margin-bottom: 10px;
}

/* line 534, ../sass/_style.scss */
.pr-desc__text {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.3px;
}

/* line 538, ../sass/_style.scss */
.bullet__item {
  color: #a0a0a0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.3px;
}

/* line 539, ../sass/_style.scss */
.icons-bullet__dot {
  top: 10px;
  margin-right: 14px;
}
