@charset "UTF-8";
/* SWITCH ON COMPASS */
@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* SWITCH ON SPRITES */
/* line 72, icons/*.png */
.icons-sprite, .icons-arrow, .icons-arrow__gray, .icons-bullet__dot, .icons-close {
  background-image: url('../img/icons-s1440b57f43.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow {
  background-position: 0 0;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow__gray {
  background-position: 0 -8px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bullet__dot {
  background-position: 0 -16px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close {
  background-position: 0 -22px;
}

/* line 13, ../sass/_settings.scss */
.icons-arrow {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 8px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

/* line 13, ../sass/_settings.scss */
.icons-bullet__dot {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

/* line 13, ../sass/_settings.scss */
.icons-close {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

/* line 13, ../sass/_settings.scss */
.icons-arrow__gray {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 8px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

/* CONNECT GOOGLE FONTS */
/* CONNECT LOCAL FONTS */
@font-face {
  font-family: DINNextLTProMediumCond;
  src: url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.eot");
  src: url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.eot") format("embedded-opentype"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.woff2") format("woff2"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.woff") format("woff"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.ttf") format("truetype"), url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: DINNextLTProMediumCond;
    src: url("../fonts/DINNextLTProMediumCond/DINNextLTProMediumCond.svg#DINNextLTProMediumCond") format("svg");
  }
}
/* line 66, ../sass/_settings.scss */
html {
  /* height hack */
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* line 73, ../sass/_settings.scss */
body {
  /* height hack */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* VERTICAL RYTHM */
  /* SMOOTH FONT */
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 86, ../sass/_settings.scss */
body.onload {
  overflow: hidden;
}

/* line 87, ../sass/_settings.scss */
button, select {
  -webkit-appearance: none;
}

/* SELECT TEXT */
/* line 90, ../sass/_settings.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 95, ../sass/_settings.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 104, ../sass/_settings.scss */
a {
  text-decoration: underline;
}

/* line 111, ../sass/_settings.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 118, ../sass/_settings.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 124, ../sass/_settings.scss */
textarea {
  resize: vertical;
}

/* System */
/* line 130, ../sass/_settings.scss */
.np {
  padding: 0;
}

/* no padding */
/* line 131, ../sass/_settings.scss */
.np-l {
  padding-left: 0;
}

/* no padding left */
/* line 132, ../sass/_settings.scss */
.np-r {
  padding-right: 0;
}

/* no padding right */
/* line 133, ../sass/_settings.scss */
.dp {
  padding: 0 30px;
}

/* double padding */
/* line 134, ../sass/_settings.scss */
.nm {
  margin: 0;
}

/* no margin */
/* line 135, ../sass/_settings.scss */
.nm-b {
  margin-bottom: 0;
}

/* no margin bottom */
/* line 136, ../sass/_settings.scss */
.p_small {
  padding: 5px;
}

/* BASE RESET */
/* line 139, ../sass/_settings.scss */
.navbar-default .navbar-toggle {
  border: none;
}

/* HAPPY BROWSER */
/* line 142, ../sass/_settings.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* fonts */
/*width */
/* colors */
/* buttons */
/* line 26, ../sass/_style.scss */
a, button {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
/* line 29, ../sass/_style.scss */
a:hover, button:hover {
  text-decoration: none;
}

/* line 36, ../sass/_style.scss */
.app {
  min-width: 320px;
  background-color: #c8cfdc;
}

/* line 37, ../sass/_style.scss */
.header {
  padding: 21px 50px 20px;
  background-color: #fff;
  margin: 20px 0;
}
@media only screen and (max-width: 991px) {
  /* line 37, ../sass/_style.scss */
  .header {
    padding: 21px 20px 20px;
  }
}

/* line 41, ../sass/_style.scss */
.header__search {
  background-color: inherit;
}

/* line 42, ../sass/_style.scss */
.product {
  padding: 57px 50px 150px;
  background-color: #fff;
}
@media only screen and (max-width: 481px) {
  /* line 42, ../sass/_style.scss */
  .product {
    padding: 50px 20px 150px;
  }
}

/* line 46, ../sass/_style.scss */
.intro {
  background: url(../img/wr-intro_bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 261px 50px 234px;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 46, ../sass/_style.scss */
  .intro {
    padding: 100px 50px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 46, ../sass/_style.scss */
  .intro {
    padding: 50px 20px;
  }
}

/* line 53, ../sass/_style.scss */
.info {
  background: #F5F5F5 url(../img/wr-info_bg.png) no-repeat left center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 115px;
  background-color: #fff;
}
@media only screen and (max-width: 481px) {
  /* line 53, ../sass/_style.scss */
  .info {
    padding: 50px 20px;
  }
}

/* line 60, ../sass/_style.scss */
.social {
  padding: 111px 50px 207px;
  background-color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 60, ../sass/_style.scss */
  .social {
    padding: 100px 50px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 60, ../sass/_style.scss */
  .social {
    padding: 50px 20px;
  }
}

/* line 65, ../sass/_style.scss */
.footer {
  background: #0c0d0d;
  margin-bottom: 20px;
  padding: 0 50px;
}
@media only screen and (max-width: 481px) {
  /* line 65, ../sass/_style.scss */
  .footer {
    padding: 0px 20px;
  }
}

/* line 69, ../sass/_style.scss */
.footer__top {
  padding: 40px 0;
}

/* line 70, ../sass/_style.scss */
.footer__bottom {
  padding: 6px 0 34px;
}

@media only screen and (max-width: 767px) {
  /* line 75, ../sass/_style.scss */
  .logo.header__logo {
    width: 50px;
    margin: 0 auto;
  }
}

/* line 78, ../sass/_style.scss */
.logo {
  display: block;
}

/* line 82, ../sass/_style.scss */
.trigger {
  display: none;
}
@media only screen and (max-width: 481px) {
  /* line 82, ../sass/_style.scss */
  .trigger {
    display: block;
  }
}

/* line 86, ../sass/_style.scss */
.trigger__link {
  color: #0089cf;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

/* line 90, ../sass/_style.scss */
.trigger__burger {
  float: right;
  width: 30px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  border: 2px solid #0089cf;
}
/* line 99, ../sass/_style.scss */
.trigger__burger.opened .burger__item:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
/* line 102, ../sass/_style.scss */
.trigger__burger.opened .burger__item:nth-child(2) {
  opacity: 0;
}
/* line 105, ../sass/_style.scss */
.trigger__burger.opened .burger__item:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* line 110, ../sass/_style.scss */
.burger__item {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #0089cf;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 119, ../sass/_style.scss */
.header__navig {
  padding-top: 15px;
}
@media only screen and (max-width: 991px) {
  /* line 119, ../sass/_style.scss */
  .header__navig {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 119, ../sass/_style.scss */
  .header__navig {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 481px) {
  /* line 119, ../sass/_style.scss */
  .header__navig {
    margin-bottom: 10px;
    text-align: left;
    display: none;
  }
  /* line 129, ../sass/_style.scss */
  .header__navig.nav-expanded {
    display: block;
  }
}

/* line 137, ../sass/_style.scss */
.navig__item {
  margin-right: 20px;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  /* line 137, ../sass/_style.scss */
  .navig__item {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 137, ../sass/_style.scss */
  .navig__item {
    display: block;
    margin-right: 0px;
  }
}
/* line 146, ../sass/_style.scss */
.navig__item:last-child {
  margin-right: 0px;
}

/* line 152, ../sass/_style.scss */
.navig__link {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding-bottom: 30px;
  display: block;
}
/* line 156, ../sass/_style.scss */
.navig__link_active {
  color: #0089cf;
  border-bottom: 4px solid #0089cf;
}
@media only screen and (max-width: 481px) {
  /* line 156, ../sass/_style.scss */
  .navig__link_active {
    border: none;
  }
}
/* line 163, ../sass/_style.scss */
.navig__link:hover {
  color: #0089cf;
}
@media only screen and (max-width: 481px) {
  /* line 152, ../sass/_style.scss */
  .navig__link {
    font-size: 16px;
    letter-spacing: 0.7px;
    padding: 10px 0px;
  }
}

/* line 174, ../sass/_style.scss */
.actions.header__actions {
  padding-top: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 174, ../sass/_style.scss */
  .actions.header__actions {
    text-align: center;
  }
}

/* line 181, ../sass/_style.scss */
.actions {
  float: right;
}
@media only screen and (max-width: 767px) {
  /* line 181, ../sass/_style.scss */
  .actions {
    float: none;
  }
}

/* line 186, ../sass/_style.scss */
.actions__item {
  margin-right: 24px;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  /* line 186, ../sass/_style.scss */
  .actions__item {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 186, ../sass/_style.scss */
  .actions__item {
    margin-right: 10px;
  }
}
/* line 192, ../sass/_style.scss */
.actions__item:last-child {
  margin-right: 0px;
}

/* line 195, ../sass/_style.scss */
.actions__link {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
/* line 197, ../sass/_style.scss */
.actions__link i {
  font-size: 18px;
  margin-right: 9px;
}
@media only screen and (max-width: 481px) {
  /* line 197, ../sass/_style.scss */
  .actions__link i {
    font-size: 14px;
  }
}
/* line 204, ../sass/_style.scss */
.actions__link_numb span {
  color: #0089cf;
  margin-left: 3px;
}
/* line 209, ../sass/_style.scss */
.actions__link_active {
  color: #0089cf;
}
/* line 213, ../sass/_style.scss */
.actions__link:hover {
  color: #0089cf;
}
@media only screen and (max-width: 481px) {
  /* line 195, ../sass/_style.scss */
  .actions__link {
    font-size: 13px;
    letter-spacing: 0.4px;
    padding-bottom: 0px;
  }
}

/* line 220, ../sass/_style.scss */
.payment-section {
  width: 35.625em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -moz-transform: translateX(35.625em);
  -ms-transform: translateX(35.625em);
  -webkit-transform: translateX(35.625em);
  transform: translateX(35.625em);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width: 767px) {
  /* line 220, ../sass/_style.scss */
  .payment-section {
    width: 20em;
    -moz-transform: translateX(20em);
    -ms-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    transform: translateX(20em);
  }
}

/* line 232, ../sass/_style.scss */
.siteContainer {
  height: 100%;
  overflow: hidden;
}

/* line 235, ../sass/_style.scss */
.sitePusher {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

/* line 242, ../sass/_style.scss */
.sidebarOn .sitePusher {
  -moz-transform: translateX(-35.625em);
  -ms-transform: translateX(-35.625em);
  -webkit-transform: translateX(-35.625em);
  transform: translateX(-35.625em);
}
@media only screen and (max-width: 767px) {
  /* line 242, ../sass/_style.scss */
  .sidebarOn .sitePusher {
    -moz-transform: translateX(-20em);
    -ms-transform: translateX(-20em);
    -webkit-transform: translateX(-20em);
    transform: translateX(-20em);
  }
}
/* line 248, ../sass/_style.scss */
.sidebarOn .site-cache {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 257, ../sass/_style.scss */
.payment {
  padding: 2.188em 2.5em;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 257, ../sass/_style.scss */
  .payment {
    padding: 2.188em 1.250em;
    position: relative;
  }
}

/* line 266, ../sass/_style.scss */
.payment__close {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 266, ../sass/_style.scss */
  .payment__close {
    display: block;
    position: absolute;
    top: 38px;
    right: 25px;
  }
  /* line 271, ../sass/_style.scss */
  .payment__close i {
    color: #333333;
  }
}

/* line 277, ../sass/_style.scss */
.payment__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 2.188rem;
  line-height: 2.625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* line 282, ../sass/_style.scss */
.p-info__title, .table__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 0.875rem;
  line-height: 1.563rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-left: 1px;
  margin-bottom: 7px;
}

/* line 287, ../sass/_style.scss */
.select-cont {
  overflow: hidden;
  background-color: inherit;
  width: 230px;
  position: relative;
}
/* line 290, ../sass/_style.scss */
.select-cont i {
  position: absolute;
  top: 5px;
  right: 3px;
}
@media only screen and (max-width: 767px) {
  /* line 287, ../sass/_style.scss */
  .select-cont {
    width: 277px;
  }
}

/* line 293, ../sass/_style.scss */
.p-info__input {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.563rem;
  letter-spacing: 0.4px;
  padding-bottom: 0.563em;
  width: 47%;
  display: inline-block;
  margin-bottom: 0.5em;
  border: none;
  border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 767px) {
  /* line 293, ../sass/_style.scss */
  .p-info__input {
    width: 99%;
  }
}

/* line 302, ../sass/_style.scss */
.p-info__input_sel, .ft-filter {
  background-color: transparent;
  width: 100%;
  text-overflow: ┬╗;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 307, ../sass/_style.scss */
.p-info__input.mr-20 {
  margin-right: 20px;
}

/* line 308, ../sass/_style.scss */
.p-info__input_large {
  width: 99%;
}

/* line 311, ../sass/_style.scss */
.cart {
  padding: 2.188em 2.5em;
  background-color: #f2f9fd;
}
@media only screen and (max-width: 767px) {
  /* line 311, ../sass/_style.scss */
  .cart {
    padding: 2.188em 1.250em;
  }
}

/* line 319, ../sass/_style.scss */
.table__title {
  padding: 1.5em 0;
}

/* line 323, ../sass/_style.scss */
.cart__item {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

/* line 327, ../sass/_style.scss */
.cart__product-quantity {
  padding: 1.250em 0;
}

/* line 330, ../sass/_style.scss */
.quantity {
  width: 1.250em;
}

/* line 333, ../sass/_style.scss */
.quantity__button {
  font-size: 1rem;
  display: block;
  width: 1.250em;
  height: 1.250em;
  border: none;
  background-color: inherit;
  color: #666666;
}

/* line 341, ../sass/_style.scss */
.quantity__button_number {
  -moz-appearance: textfield;
  text-align: center;
}

/* line 346, ../sass/_style.scss */
.cart__product-image {
  width: 4.375em;
  height: 4.375em;
  padding: 1.063em 0.313em;
  margin-left: -26px;
}

/* line 349, ../sass/_style.scss */
.cart__product-image_cloth {
  padding: 5px;
}

/* line 351, ../sass/_style.scss */
.cart__product-name {
  padding-left: 1.250em;
}
@media only screen and (max-width: 767px) {
  /* line 351, ../sass/_style.scss */
  .cart__product-name {
    padding-left: 0;
    max-width: 80px;
  }
}

/* line 355, ../sass/_style.scss */
.cart__pr-brand {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 1.125rem;
  line-height: 1.2rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* line 355, ../sass/_style.scss */
  .cart__pr-brand {
    font-size: 14px;
    line-height: 18px;
  }
}

/* line 359, ../sass/_style.scss */
.cart__pr-model {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.2rem;
  letter-spacing: 0px;
}
@media only screen and (max-width: 767px) {
  /* line 359, ../sass/_style.scss */
  .cart__pr-model {
    font-size: 12px;
    line-height: 16px;
  }
}

/* line 363, ../sass/_style.scss */
.cart__pr-size {
  padding-left: 2.563em;
}
@media only screen and (max-width: 767px) {
  /* line 363, ../sass/_style.scss */
  .cart__pr-size {
    padding-left: 0;
    text-align: center;
  }
}

/* line 367, ../sass/_style.scss */
.cart__size-title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 0.875rem;
  line-height: 2.188rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
@media only screen and (max-width: 767px) {
  /* line 367, ../sass/_style.scss */
  .cart__size-title {
    margin-right: 0px;
    font-size: 12px;
    line-height: 16px;
    display: block;
  }
}

/* line 374, ../sass/_style.scss */
.cart__size-quantity {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 0.875rem;
  line-height: 1.875rem;
  letter-spacing: 0.8px;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #d9e0e3;
}

/* line 379, ../sass/_style.scss */
.cart__pr-price {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 0.875rem;
  line-height: 1.563rem;
  letter-spacing: 0.4px;
  padding-left: 2.563em;
}
@media only screen and (max-width: 767px) {
  /* line 379, ../sass/_style.scss */
  .cart__pr-price {
    padding-left: 0;
    font-size: 12px;
    width: 50px;
    text-align: right;
  }
}

/* line 385, ../sass/_style.scss */
.cart__item-total {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 0.875rem;
  line-height: 2.188rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

/* line 386, ../sass/_style.scss */
.item-total__title {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  /* line 386, ../sass/_style.scss */
  .item-total__title {
    font-size: 14px;
  }
}

/* line 390, ../sass/_style.scss */
.item-total__price {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  /* line 390, ../sass/_style.scss */
  .item-total__price {
    font-size: 12px;
  }
}

/* line 397, ../sass/_style.scss */
.cart__terms-block {
  position: relative;
  height: 100px;
}
@media only screen and (max-width: 767px) {
  /* line 397, ../sass/_style.scss */
  .cart__terms-block {
    text-align: center;
  }
}

/* line 403, ../sass/_style.scss */
.cart__check, .sign__check {
  display: none;
}

/* line 406, ../sass/_style.scss */
.cart__terms, .sign__label_show-pass {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.563rem;
  letter-spacing: 0.4px;
  cursor: pointer;
}

/* line 410, ../sass/_style.scss */
.cart__check + .cart__terms:before, .sign__check + .cart__terms:before, .cart__check + .sign__label_show-pass:before, .sign__check + .sign__label_show-pass:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  background-color: #fff;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8);
  box-shadow: inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8);
}

/* line 417, ../sass/_style.scss */
.cart__check:checked + .cart__terms:before, .sign__check:checked + .cart__terms:before, .cart__check:checked + .sign__label_show-pass:before, .sign__check:checked + .sign__label_show-pass:before {
  background-color: #0089cf;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8), inset 0px 0px 0px 3px white;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8), inset 0px 0px 0px 3px white;
  box-shadow: inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8), inset 0px 0px 0px 3px white;
}

/* line 424, ../sass/_style.scss */
.cart__submit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 73px !important;
}
@media only screen and (max-width: 767px) {
  /* line 424, ../sass/_style.scss */
  .cart__submit {
    right: 38px;
  }
}

/* line 434, ../sass/_style.scss */
.product__image {
  margin-top: 99px;
}
@media only screen and (max-width: 767px) {
  /* line 434, ../sass/_style.scss */
  .product__image {
    margin: 90px auto 20px;
  }
}

/* line 445, ../sass/_style.scss */
.product-bar {
  min-width: 265px;
}
@media only screen and (max-width: 767px) {
  /* line 445, ../sass/_style.scss */
  .product-bar {
    text-align: center;
  }
}

/* line 450, ../sass/_style.scss */
.product-bar__like {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 41px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  /* line 450, ../sass/_style.scss */
  .product-bar__like {
    margin: 0 auto 20px;
  }
}
/* line 457, ../sass/_style.scss */
.product-bar__like i {
  color: #e4e4e4;
}
/* line 460, ../sass/_style.scss */
.product-bar__like:hover {
  border: 1px solid #000;
}
/* line 462, ../sass/_style.scss */
.product-bar__like:hover i {
  color: #000;
}

/* line 466, ../sass/_style.scss */
.product-bar__name {
  margin-bottom: 18px;
}

/* line 470, ../sass/_style.scss */
.pr-name__brand, .sb-name__brand {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  /* line 470, ../sass/_style.scss */
  .pr-name__brand, .sb-name__brand {
    font-size: 23px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 470, ../sass/_style.scss */
  .pr-name__brand, .sb-name__brand {
    font-size: 20px;
    line-height: 20px;
  }
}

/* line 478, ../sass/_style.scss */
.pr-name__title, .popup-sign__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media only screen and (max-width: 991px) {
  /* line 478, ../sass/_style.scss */
  .pr-name__title, .popup-sign__title {
    font-size: 32px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 478, ../sass/_style.scss */
  .pr-name__title, .popup-sign__title {
    font-size: 28px;
    line-height: 28px;
  }
}

/* line 486, ../sass/_style.scss */
.pr-name__price {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
}

/* line 491, ../sass/_style.scss */
.product-bar__preview {
  margin-bottom: 5px;
}

/* line 492, ../sass/_style.scss */
.preview-colors {
  margin-bottom: 12px;
}

/* line 493, ../sass/_style.scss */
.preview-colors__item {
  display: inline-block;
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

/* line 497, ../sass/_style.scss */
.preview-colors__link {
  color: #0089cf;
}
/* line 499, ../sass/_style.scss */
.preview-colors__link:hover {
  text-decoration: underline;
}

/* line 501, ../sass/_style.scss */
.preview-image {
  display: inline-block;
  margin-right: 4px;
}

/* line 504, ../sass/_style.scss */
.preview-image__item, .pr-bar__img {
  width: 80px;
  height: 80px;
  padding: 22px 8px;
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
}

/* line 511, ../sass/_style.scss */
.size__name {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 37px;
  letter-spacing: 0.6px;
}

/* line 515, ../sass/_style.scss */
.buttn__item, .sb-buttn__item {
  display: inline-block;
  position: relative;
}

/* line 519, ../sass/_style.scss */
.buttn__link, .buttn__link_white, .sb-buttn__link_white, .buttn__link_gray, .cart__submit, .sb-buttn__link_gray, .sign__button_gray, .sb-buttn__link, .sign__button {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 6px;
  border: none;
}
/* line 522, ../sass/_style.scss */
.buttn__link:last-child, .buttn__link_white:last-child, .sb-buttn__link_white:last-child, .buttn__link_gray:last-child, .cart__submit:last-child, .sb-buttn__link_gray:last-child, .sign__button_gray:last-child, .sb-buttn__link:last-child, .sign__button:last-child {
  margin-right: 0px;
}

/* line 524, ../sass/_style.scss */
.buttn__link_white, .sb-buttn__link_white {
  border: 1px solid  #e4e4e4;
  padding: 16px 19px;
}
/* line 526, ../sass/_style.scss */
.buttn__link_white i, .sb-buttn__link_white i {
  top: 2px;
  margin-left: 55px;
}
/* line 529, ../sass/_style.scss */
.buttn__link_white:hover, .sb-buttn__link_white:hover {
  background: #ccc;
}

/* line 531, ../sass/_style.scss */
.buttn__link_gray, .cart__submit, .sb-buttn__link_gray, .sign__button_gray {
  color: #fff;
  background: #333333;
  padding: 16px 30px 17px;
}
/* line 536, ../sass/_style.scss */
.buttn__link_gray:hover, .cart__submit:hover, .sb-buttn__link_gray:hover, .sign__button_gray:hover {
  color: #0089cf;
}

/* line 540, ../sass/_style.scss */
ul.dropMe {
  width: 95%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
}
/* line 543, ../sass/_style.scss */
ul.dropMe li {
  text-align: center;
  display: inline-block;
  border: 1px solid  #e4e4e4;
  background: #fff;
}
/* line 548, ../sass/_style.scss */
ul.dropMe li:hover {
  background: #ccc;
}
/* line 550, ../sass/_style.scss */
ul.dropMe li a {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 16px 19px;
  display: block;
}

/* line 559, ../sass/_style.scss */
.intro-text__title {
  color: #ffffff;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  /* line 559, ../sass/_style.scss */
  .intro-text__title {
    font-size: 23px;
    line-height: 23px;
    text-shadow: 0px 0px 2px #000;
  }
}
@media only screen and (max-width: 481px) {
  /* line 559, ../sass/_style.scss */
  .intro-text__title {
    font-size: 20px;
    line-height: 20px;
  }
}

/* line 565, ../sass/_style.scss */
.intro-text__text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  margin-left: 3px;
}
@media only screen and (max-width: 991px) {
  /* line 565, ../sass/_style.scss */
  .intro-text__text {
    text-shadow: 0px 0px 2px #000;
  }
}

/* line 573, ../sass/_style.scss */
.story {
  margin-bottom: 36px;
}

/* line 574, ../sass/_style.scss */
.story__s-title, .benefits__s-title, .pr-desc__s-title {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/* line 577, ../sass/_style.scss */
.story__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  /* line 577, ../sass/_style.scss */
  .story__title {
    font-size: 23px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 577, ../sass/_style.scss */
  .story__title {
    font-size: 20px;
    line-height: 20px;
  }
}

/* line 583, ../sass/_style.scss */
.story__text {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.3px;
  margin-left: 2px;
}

/* line 591, ../sass/_style.scss */
.benefits__s-title {
  display: block;
  margin-bottom: 17px;
}

/* line 595, ../sass/_style.scss */
.benefits__title, .sign__label, .sign__input {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-left: 2px;
}

/* line 599, ../sass/_style.scss */
.benefits__small {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  display: block;
  margin-left: 2px;
  margin-bottom: 12px;
}

/* line 605, ../sass/_style.scss */
.info__sell-box {
  padding: 20px 25px 25px;
  margin-left: 18px;
  margin-top: 13px;
  border: 4px solid #e4e4e4;
  background: #fff;
  max-width: 301px;
  min-width: 301px;
}
@media only screen and (max-width: 1199px) {
  /* line 605, ../sass/_style.scss */
  .info__sell-box {
    width: 125%;
    margin-left: -54px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 605, ../sass/_style.scss */
  .info__sell-box {
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 605, ../sass/_style.scss */
  .info__sell-box {
    text-align: center;
    width: 320px;
    margin: 0 auto;
  }
}

/* line 612, ../sass/_style.scss */
.sb-name.sell-box__name {
  margin-bottom: 12px;
}

/* line 613, ../sass/_style.scss */
.sb-name__brand {
  margin-bottom: 5px;
}

/* line 617, ../sass/_style.scss */
.sb-name__title {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.3px;
}

/* line 621, ../sass/_style.scss */
.sb-preview-image {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 621, ../sass/_style.scss */
  .sb-preview-image {
    width: 260px;
    margin: 0 auto 50px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 621, ../sass/_style.scss */
  .sb-preview-image {
    width: 200px;
  }
}

/* line 626, ../sass/_style.scss */
.sb-preview__status {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
@media only screen and (max-width: 481px) {
  /* line 626, ../sass/_style.scss */
  .sb-preview__status {
    font-size: 12px;
    letter-spacing: 0.4px;
    float: left;
  }
}

/* line 630, ../sass/_style.scss */
.sb-preview__price {
  float: right;
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* line 630, ../sass/_style.scss */
  .sb-preview__price {
    float: none;
    margin-left: 135px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 630, ../sass/_style.scss */
  .sb-preview__price {
    font-size: 12px;
    letter-spacing: 0.4px;
    float: right;
    margin-left: 0;
  }
}

/* line 644, ../sass/_style.scss */
.sb-buttn__link_white {
  padding: 16px 14px 16px 19px;
}
/* line 647, ../sass/_style.scss */
.sb-buttn__link_white i {
  margin-left: 50px;
}

/* line 649, ../sass/_style.scss */
.sb-buttn__link_gray {
  padding: 16px 25px 17px;
}

/* line 655, ../sass/_style.scss */
.social__text {
  margin-bottom: 37px;
}

/* line 657, ../sass/_style.scss */
.s-text__s-title {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

/* line 661, ../sass/_style.scss */
.s-text__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  /* line 661, ../sass/_style.scss */
  .s-text__title {
    font-size: 23px;
    line-height: 23px;
  }
}

/* line 669, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-nav {
  display: none;
}
/* line 670, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots {
  margin-top: 30px;
  text-align: center;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  /* line 670, ../sass/_style.scss */
  .jsCarousel .owl-controls .owl-dots {
    margin-left: 0px;
  }
}
/* line 673, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 5px;
}
/* line 675, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ccc;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 680, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot.active span {
  background: #0089cf;
  border: 2px solid #0089cf;
}
/* line 681, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot:hover span {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 682, ../sass/_style.scss */
.jsCarousel .owl-controls .owl-dots .owl-dot.active:hover span {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 697, ../sass/_style.scss */
.f-menu__link {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
/* line 699, ../sass/_style.scss */
.f-menu__link:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 481px) {
  /* line 697, ../sass/_style.scss */
  .f-menu__link {
    font-size: 12px;
    letter-spacing: 0.4px;
  }
}

/* line 704, ../sass/_style.scss */
.f-social {
  margin-bottom: 24px;
}
@media only screen and (max-width: 767px) {
  /* line 704, ../sass/_style.scss */
  .f-social {
    text-align: center;
    margin-top: 20px;
  }
}

/* line 708, ../sass/_style.scss */
.f-social__item {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}
/* line 710, ../sass/_style.scss */
.f-social__item:last-child {
  margin-right: 0px;
}

/* line 712, ../sass/_style.scss */
.f-social__link {
  line-height: 50px;
  text-align: center;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #252626;
}
/* line 716, ../sass/_style.scss */
.f-social__link i {
  font-size: 18px;
  color: #666666;
}
/* line 717, ../sass/_style.scss */
.f-social__link:hover {
  border: 1px solid #0089cf;
}
/* line 719, ../sass/_style.scss */
.f-social__link:hover i {
  color: #0089cf;
}

/* line 722, ../sass/_style.scss */
.f-form {
  position: relative;
}

/* line 723, ../sass/_style.scss */
.f-form__input {
  color: #0089cf;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.3px;
  border: none;
  border-bottom: 2px solid #252626;
  background: #0c0d0d;
  padding-left: 30px;
  padding-bottom: 10px;
  width: 100%;
}
/* line 61, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input:-moz-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 64, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input::-moz-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 67, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input:-ms-input-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 56, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.f-form__input::-webkit-input-placeholder {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
/* line 728, ../sass/_style.scss */
.f-form__input:hover, .f-form__input:focus {
  border-bottom: 2px solid #0089cf;
}

/* line 730, ../sass/_style.scss */
.f-form__button {
  position: absolute;
  left: -3px;
  top: 0;
  border: none;
  background: transparent;
}
/* line 733, ../sass/_style.scss */
.f-form__button i {
  color: #252626;
}
/* line 737, ../sass/_style.scss */
.f-form__button:hover i {
  color: #0089cf;
}

/* line 742, ../sass/_style.scss */
.f-bot {
  text-align: center;
}

/* line 743, ../sass/_style.scss */
.f-bot__copyright {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.3px;
}
@media only screen and (max-width: 481px) {
  /* line 743, ../sass/_style.scss */
  .f-bot__copyright {
    font-size: 9px;
  }
}

/* line 747, ../sass/_style.scss */
.copyright__link {
  color: #666666;
}
/* line 749, ../sass/_style.scss */
.copyright__link:hover {
  color: #0089cf;
}

/* line 756, ../sass/_style.scss */
.product-cover {
  padding: 130px 50px 156px;
  background-color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 756, ../sass/_style.scss */
  .product-cover {
    padding: 130px 20px 156px;
  }
}

/* line 765, ../sass/_style.scss */
.pr-bar__item {
  margin-bottom: 10px;
}

@media only screen and (max-width: 481px) {
  /* line 771, ../sass/_style.scss */
  .pr-bar__img {
    width: 50px;
    height: 50px;
    padding: 10px 5px;
  }
}

/* line 777, ../sass/_style.scss */
.pr-bar__img_cloth {
  padding: 0px 10px;
}

@media only screen and (max-width: 991px) {
  /* line 781, ../sass/_style.scss */
  .product-cover__image-cont {
    height: 350px;
    position: relative;
  }
}
@media only screen and (max-width: 481px) {
  /* line 781, ../sass/_style.scss */
  .product-cover__image-cont {
    height: 230px;
  }
}

/* line 788, ../sass/_style.scss */
.product-cover__image {
  margin: 25px auto 0;
}
@media only screen and (max-width: 991px) {
  /* line 788, ../sass/_style.scss */
  .product-cover__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  /* line 788, ../sass/_style.scss */
  .product-cover__image {
    max-width: 80%;
  }
}

/* line 793, ../sass/_style.scss */
.product-cover__image_cloth {
  max-height: 420px;
}
@media only screen and (max-width: 767px) {
  /* line 793, ../sass/_style.scss */
  .product-cover__image_cloth {
    max-width: 45%;
  }
}

/* line 798, ../sass/_style.scss */
.pr-name__type-of-cloth {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 803, ../sass/_style.scss */
.product-cover__description {
  margin-left: 20px;
}
@media only screen and (max-width: 991px) {
  /* line 803, ../sass/_style.scss */
  .product-cover__description {
    margin: 20px auto 0;
    text-align: center;
  }
}

/* line 809, ../sass/_style.scss */
.product-bar__description {
  margin-bottom: 10px;
}

/* line 811, ../sass/_style.scss */
.pr-desc__text {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.3px;
}
@media only screen and (max-width: 481px) {
  /* line 811, ../sass/_style.scss */
  .pr-desc__text {
    font-size: 13px;
    line-height: 20px;
  }
}

/* line 816, ../sass/_style.scss */
.bullet__item, .lb-description__text {
  color: #a0a0a0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.3px;
}

/* line 820, ../sass/_style.scss */
.icons-bullet__dot {
  top: 10px;
  margin-right: 14px;
}

/* line 823, ../sass/_style.scss */
.search-field {
  padding: 24px 50px 35px;
}
@media only screen and (max-width: 481px) {
  /* line 823, ../sass/_style.scss */
  .search-field {
    padding: 24px 20px 35px;
  }
}

/* line 831, ../sass/_style.scss */
.search {
  position: relative;
}

/* line 834, ../sass/_style.scss */
.search__text-block {
  margin-bottom: 32px;
}

/* line 838, ../sass/_style.scss */
.text-block__title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* line 841, ../sass/_style.scss */
.text-block__tip {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

/* line 844, ../sass/_style.scss */
.text-block__close {
  position: absolute;
  top: 1%;
  right: 2%;
  color: #666666;
  font-size: 28px;
}
/* line 847, ../sass/_style.scss */
.text-block__close i {
  top: 4px;
}

/* line 851, ../sass/_style.scss */
.search__input {
  color: #0089cf;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  width: 100%;
  border: none;
  border-bottom: 1px solid #666666;
  background-color: inherit;
}
@media only screen and (max-width: 767px) {
  /* line 851, ../sass/_style.scss */
  .search__input {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 851, ../sass/_style.scss */
  .search__input {
    font-size: 24px;
    line-height: 32px;
  }
}

/* line 858, ../sass/_style.scss */
.search__button {
  color: #666666;
  font-size: 33px;
  position: absolute;
  top: 90px;
  right: 27px;
  background-color: inherit;
  border: none;
}
@media only screen and (max-width: 767px) {
  /* line 858, ../sass/_style.scss */
  .search__button {
    font-size: 26px;
  }
}
@media only screen and (max-width: 481px) {
  /* line 858, ../sass/_style.scss */
  .search__button {
    font-size: 19px;
    top: 89px;
    right: 3px;
  }
}

/* line 865, ../sass/_style.scss */
.search-product {
  padding: 0px 50px 50px;
  min-height: 663px;
}
@media only screen and (max-width: 481px) {
  /* line 865, ../sass/_style.scss */
  .search-product {
    padding: 0px 20px 50px;
  }
}

/* line 870, ../sass/_style.scss */
.search-product__type-of-cloth {
  color: #666666;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* line 874, ../sass/_style.scss */
.type-of-cloth__quality {
  color: #0089cf;
}

@media only screen and (max-width: 991px) {
  /* line 877, ../sass/_style.scss */
  .search-product__block {
    margin-bottom: 20px;
  }
}

/* line 880, ../sass/_style.scss */
.pr-block, .fw-block, .fw-left-block {
  background-color: #fff;
  text-align: center;
  height: 430px;
  position: relative;
}
@media only screen and (max-width: 481px) {
  /* line 880, ../sass/_style.scss */
  .pr-block, .fw-block, .fw-left-block {
    height: 360px;
  }
}

/* line 886, ../sass/_style.scss */
.pr-block__img, .fw-block__img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 15%;
  margin: auto;
  max-height: 200px;
  max-width: 230px;
}
@media only screen and (max-width: 481px) {
  /* line 886, ../sass/_style.scss */
  .pr-block__img, .fw-block__img {
    max-width: 190px;
  }
}

/* line 892, ../sass/_style.scss */
.bl-description, .fw-description {
  position: absolute;
  left: 0;
  top: 69%;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 895, ../sass/_style.scss */
.bl-description__brand, .bl-description__price, .fw-description__price, .fw-description__old-price, .lb-description__price, .fw-description__brand, .lb-description__brand {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* line 898, ../sass/_style.scss */
.bl-description__features, .fw-description__features, .lb-description__features {
  display: block;
  margin-bottom: 16px;
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

/* line 902, ../sass/_style.scss */
.bl-description__price, .fw-description__price, .fw-description__old-price, .lb-description__price {
  display: inline-block;
}

/* line 908, ../sass/_style.scss */
.footwear-section {
  padding: 0px 50px 0px;
}
@media only screen and (max-width: 481px) {
  /* line 908, ../sass/_style.scss */
  .footwear-section {
    padding: 00px 20px 0px;
  }
}

/* line 916, ../sass/_style.scss */
.footwear-section__intro {
  text-align: center;
  margin: 0 auto 40px;
  position: relative;
}

/* line 920, ../sass/_style.scss */
.ft-title {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* line 923, ../sass/_style.scss */
.ft-quantity {
  color: #0089cf;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

/* line 928, ../sass/_style.scss */
.footwear-section__form {
  position: absolute;
  bottom: 3%;
  right: 0;
}
@media only screen and (max-width: 481px) {
  /* line 928, ../sass/_style.scss */
  .footwear-section__form {
    position: static;
    float: right;
  }
}

/* line 934, ../sass/_style.scss */
.ft-filter {
  color: #333333;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border: none;
}

/* line 939, ../sass/_style.scss */
.select-cont_footwear {
  width: 110px;
}

/* line 945, ../sass/_style.scss */
.fw-block {
  margin-bottom: 30px;
}

/* line 954, ../sass/_style.scss */
.fw-block__img_large {
  max-width: 100%;
  left: 5%;
}
@media only screen and (max-width: 767px) {
  /* line 954, ../sass/_style.scss */
  .fw-block__img_large {
    left: 0;
    max-width: 85%;
  }
}

/* line 978, ../sass/_style.scss */
.fw-description__old-price {
  color: red;
  margin-left: 5px;
}

/* line 982, ../sass/_style.scss */
.fw-left-block {
  margin-bottom: 30px;
  padding: 40px;
  display: flex;
}
@media only screen and (max-width: 481px) {
  /* line 982, ../sass/_style.scss */
  .fw-left-block {
    display: block;
    padding: 20px;
    height: 400px;
  }
}

/* line 991, ../sass/_style.scss */
.left-block__img-cont {
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 481px) {
  /* line 991, ../sass/_style.scss */
  .left-block__img-cont {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 481px) {
  /* line 998, ../sass/_style.scss */
  .left-block__img {
    margin: 0 auto;
    width: 50%;
  }
}

/* line 1004, ../sass/_style.scss */
.left-block__description {
  margin: auto;
  width: 50%;
  text-align: left;
}
@media only screen and (max-width: 481px) {
  /* line 1004, ../sass/_style.scss */
  .left-block__description {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

/* line 1018, ../sass/_style.scss */
.lb-description__features {
  margin-bottom: 1px;
}

/* line 1022, ../sass/_style.scss */
.lb-description__text {
  line-height: 21px;
  margin-bottom: 20px;
}

/* line 1031, ../sass/_style.scss */
.fw-block__brand {
  background: url(../img/footwear__new-arrivals_theme.png) no-repeat 50% 50%;
  background-size: cover;
}

/* line 1036, ../sass/_style.scss */
.brand-block__text {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* line 1039, ../sass/_style.scss */
.brand-block__name {
  color: #ffffff;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

/* line 1042, ../sass/_style.scss */
.brand-block__title {
  color: #ffffff;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 55px;
  line-height: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 20px;
}

/* line 1048, ../sass/_style.scss */
.action-bar {
  position: absolute;
  left: 15%;
  top: 12%;
  width: 70%;
}
/* line 1052, ../sass/_style.scss */
.action-bar_cb {
  top: 8%;
}
/* line 1055, ../sass/_style.scss */
.action-bar_lb {
  left: 49%;
}
@media only screen and (max-width: 481px) {
  /* line 1055, ../sass/_style.scss */
  .action-bar_lb {
    left: 15%;
    top: 87%;
  }
}

/* line 1062, ../sass/_style.scss */
.action-bar__like, .action-bar__cart {
  cursor: pointer;
  font-size: 20px;
  color: #a0a0a0;
}
/* line 1064, ../sass/_style.scss */
.action-bar__like:hover, .action-bar__cart:hover {
  color: #0089cf;
}

/* line 1068, ../sass/_style.scss */
.action-bar__like {
  float: left;
}

/* line 1069, ../sass/_style.scss */
.action-bar__label {
  color: #ffffff;
  font-family: "DINNextLTProMediumCond", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  padding: 5px 15px;
  display: inline-block;
  -moz-border-radius: 45%;
  -webkit-border-radius: 45%;
  border-radius: 45%;
}
/* line 1073, ../sass/_style.scss */
.action-bar__label_blue {
  background-color: #0089cf;
}
/* line 1076, ../sass/_style.scss */
.action-bar__label_green {
  background-color: #83d78c;
}

/* line 1080, ../sass/_style.scss */
.action-bar__cart {
  float: right;
}

/* line 1082, ../sass/_style.scss */
.popup-sign {
  width: 320px;
  padding: 20px;
  display: none;
  position: relative;
  background-color: #f2f9fd;
}

/* line 1088, ../sass/_style.scss */
.popup-sign__close {
  float: right;
}
/* line 1090, ../sass/_style.scss */
.popup-sign__close i {
  color: #333333;
}

/* line 1094, ../sass/_style.scss */
.popup-sign__title {
  text-transform: none;
  margin-bottom: 20px;
}

/* line 1099, ../sass/_style.scss */
.sign__label {
  text-transform: none;
  display: block;
  margin-bottom: 5px;
}
/* line 1103, ../sass/_style.scss */
.sign__label_show-pass {
  font-size: 14px;
  text-transform: none;
}

/* line 1108, ../sass/_style.scss */
.sign__input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: inherit;
  border: 1px solid #333333;
  text-transform: none;
}

/* line 1117, ../sass/_style.scss */
.sign__button-cont {
  margin-top: 30px;
}

/* line 1120, ../sass/_style.scss */
.sign__button {
  text-transform: none;
}
/* line 1123, ../sass/_style.scss */
.sign__button:first-letter {
  text-transform: uppercase;
}
/* line 1129, ../sass/_style.scss */
.sign__button_inherit {
  background-color: inherit;
  border: none;
}
/* line 1132, ../sass/_style.scss */
.sign__button_inherit:hover {
  color: #0089cf;
}
