@import 'settings';

/* fonts */
$main-font: 'DINNextLTProMediumCond', sans-serif;
$second-font: 'Roboto', sans-serif;

/*width */
$payment-width: 35.625em;
$m-payment-width: 20em;

/* colors */
$blue-color: #0089cf;
$white-color: #ffffff;
$gray-color: #333333;
$light_gray-color: #666666;
$bg-color:#c8cfdc;
$input-color: #ccc;


// preloader
.preloader {}


/* buttons */

a {
    @include transition(all 0.5s ease);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


// application
.app {min-width: 320px; background-color: $bg-color;}
.header {
    padding: 21px 50px 20px; background-color: #fff; margin: 20px 0;
    @include respond-to(md) {padding: 21px 20px 20px;}
}
.header__search {background-color: inherit;}
.product {
    padding: 57px 50px 150px; background-color: #fff;
    @include respond-to(xs) {padding: 50px 20px 150px;}
}
.intro {
    background: url(../img/wr-intro_bg.png) no-repeat center center; background-size: cover;
    display: flex; justify-content: center; align-items: center;
    padding: 261px 50px 234px; background-color: #fff;
    @include respond-to(sm) {padding: 100px 50px;}
    @include respond-to(xs) {padding: 50px 20px;}
}
.info {
    background: #F5F5F5 url(../img/wr-info_bg.png) no-repeat left center; background-size: cover;
    display: flex; justify-content: center; align-items: center;
    padding: 100px 50px 115px; background-color: #fff;
    @include respond-to(xs) {padding: 50px 20px;}

}
.social {
    padding: 111px 50px 207px; background-color: #fff; margin-bottom: 20px;
    @include respond-to(sm) {padding: 100px 50px;}
    @include respond-to(xs) {padding: 50px 20px;}
}
.footer {
    background: #0c0d0d; margin-bottom: 20px; padding: 0 50px;
    @include respond-to(xs) {padding: 0px 20px;}
}
.footer__top {padding: 40px 0;}     
.footer__bottom {padding: 6px 0 34px;}

// MODULS

// logo
.logo.header__logo {
   @include respond-to(sm) {width: 50px; margin: 0 auto;}
}
.logo {
    display: block; 
}
// menu-trigger
.trigger {
    display: none;
    @include respond-to(xs) {display: block;}  
}
.trigger__link {
    @include font-type($blue-color, $main-font, 16px, 30px, 0.7px); text-transform: uppercase;
}
// burger
.trigger__burger {
    float: right;
    width: 30px; height: 30px;
    padding: 3px;
    cursor: pointer;
    border: 2px solid $blue-color;

    &.opened {

        .burger__item:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .burger__item:nth-child(2) {
           opacity: 0;
        }
        .burger__item:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
.burger__item {
    display: block;
    width: 20px; height: 3px;
    margin-bottom: 5px;
    background-color: $blue-color;
    @include transition(all 0.2s ease-out);
}

// navigation
.header__navig {

    padding-top: 15px;

    @include respond-to(md) {margin-left: 15px;}

    @include respond-to(sm) {text-align: center; margin-bottom: 30px; margin-left: 0;}

    @include respond-to(xs) {
        margin-bottom: 10px; text-align: left; display: none;
        &.nav-expanded {display: block;}
    }  
}

.navig {
    @include respond-to(xs) {}
}

.navig__item {

    margin-right: 36px;
    display: inline-block;

    @include respond-to(md) {margin-right: 10px;}

    @include respond-to(xs) {display: block; margin-right: 0px; }
    
    &:last-child {margin-right: 0px;}



}

.navig__link {
    @include font-type($gray-color, $main-font, 14px, 14px, 0.7px); text-transform: uppercase;
    padding-bottom: 30px; display: block;

    &_active {
        color: $blue-color;
        border-bottom: 4px solid $blue-color;

        @include respond-to(xs) {border: none;}
    }

    &:hover {color: $blue-color;}
    
    @include respond-to(xs) {
        font-size: 16px; letter-spacing: 0.7px; padding: 10px 0px;
    }
}                   
              



// actions
.actions.header__actions {

    padding-top: 15px;
    @include respond-to(sm) {text-align: center;}

}

.actions {
    float: right;
    @include respond-to(sm) {float: none;}
}
    
.actions__item {
    margin-right: 24px;
    display: inline-block;

    @include respond-to(md) {margin-right: 0px;}
    @include respond-to(sm) {margin-right: 10px;}
    &:last-child {margin-right: 0px;} 
}

.actions__link {
    @include font-type($gray-color, $main-font, 14px, 14px, 0.7px); text-transform: uppercase;
    i {
        font-size: 18px;
        margin-right: 9px;

         @include respond-to(xs) {font-size: 14px;}
    }
    &_numb {
        span {
            color: $blue-color; margin-left: 3px;
        }
    }

    &_active {
        color: $blue-color;
    }
    
    &:hover {color: $blue-color;}

    @include respond-to(xs) {font-size: 13px; letter-spacing: 0.4px; padding-bottom: 0px;}
} 

                // PAYMENT SECTION

.payment-section {
    width: $payment-width;
    position: absolute; top: 0; right: 0; z-index: 1;
    @include transform(translateX($payment-width));
    @include transition(0.3s);
    @include respond-to(sm) {
        width: $m-payment-width;
        @include transform(translateX($m-payment-width));
    }
}

// paymentCall styles
.siteContainer {
    height: 100%; overflow: hidden;
}
.sitePusher {
   @include transform(translateX(0px));
   @include transition(0.3s);
   height: 100%;
}

.sidebarOn {
    .sitePusher {
        @include transform(translateX($payment-width * -1));
        @include respond-to(sm) {
            @include transform(translateX($m-payment-width * -1));
        }
    }
    .site-cache {
        position: absolute; top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}


// moduls

.payment {
    padding: 2.188em 2.5em;
    background-color: #fff; 
    @include respond-to(sm) {
        padding: 2.188em 1.250em;
        position: relative;
    }

}
.payment__close {
    display: none;
    @include respond-to(sm) {
        display: block;
        position: absolute; top: 38px; right: 25px;
        i {
            color: $gray-color;
        }
    }
}
// payment__title
.payment__title {
     @include font-type($gray-color, $main-font, 2.188rem, 2.625rem, 1px); text-transform: uppercase;
     margin-bottom: 16px;
}
.p-info {}
.p-info__title {
    @include font-type($gray-color, $main-font, 0.875rem, 1.563rem, 0.7px); text-transform: uppercase;
    margin-left: 1px; margin-bottom: 7px;
}
.p-info__form {}
.select-cont {
    overflow: hidden; background-color: inherit; width: 230px;
    position: relative;
    i {position: absolute; top: 5px; right: 3px;}
    @include respond-to(sm) {width: 277px;}
}
.p-info__input {
    @include font-type($light_gray-color, $second-font, 0.875rem, 1.563rem, 0.4px);
    padding-bottom: 0.563em; width: 47%; display: inline-block; margin-bottom: 0.5em;
    border: none; border-bottom: 1px solid $input-color;
    @include respond-to(sm) {
        width: 99%;
    }
    
}
.p-info__input_sel {
    background-color: transparent; width: 100%;
    text-overflow : »;
    @include appearance(none);
}
.p-info__input.mr-20 {margin-right: 20px;}
.p-info__input_large {
    width: 99%;
}
.cart {
    padding: 2.188em 2.5em; 
    background-color: #f2f9fd;
    @include respond-to(sm) {
        padding: 2.188em 1.250em;
    }
}
.cart__table {}
.table__title {
    @extend .p-info__title;
    padding: 1.5em 0;
}
.cart__item {
    border-bottom: 1px solid $input-color; 
    border-top: 1px solid $input-color; 
}
.cart__product-quantity {
    padding: 1.250em 0;
}
.quantity {
    width: 1.250em;
}
.quantity__button {
    font-size: 1rem;
    display: block; width: 1.250em; height: 1.250em;
    border: none; background-color: inherit;
    color: $light_gray-color;
}
.quantity__button_minus {}
.quantity__button_plus {}
.quantity__button_number {
    -moz-appearance: textfield;
    text-align: center;
}
.cart__product-img-cont {}
.cart__product-image {
   width: 4.375em; height: 4.375em; padding: 1.063em 0.313em;  margin-left: -26px;
}
.cart__product-image_cloth {padding: 5px;}

.cart__product-name {
    padding-left: 1.250em;
    @include respond-to(sm) {padding-left: 0; max-width: 80px;}
}
.cart__pr-brand {
    @include font-type($gray-color, $main-font, 1.125rem, 1.2rem, 0.4px); text-transform: uppercase;
    @include respond-to(sm) {font-size: 14px; line-height: 18px;}
}
.cart__pr-model {
    @include font-type($light_gray-color, $second-font, 0.875rem, 1.2rem, 0px);
    @include respond-to(sm) {font-size: 12px; line-height: 16px;}
}
.cart__pr-size {
    padding-left: 2.563em; 
    @include respond-to(sm) {padding-left: 0; text-align: center;} 
}
.cart__size-title {
    @include font-type($gray-color, $main-font, 0.875rem, 2.188rem, 0.8px); text-transform: uppercase;
    display: inline-block; vertical-align: middle; margin-right: 16px;
    @include respond-to(sm) {
        margin-right: 0px; font-size: 12px; line-height: 16px; display: block;
    }
}
.cart__size-quantity {
    @include font-type($gray-color, $main-font, 0.875rem, 1.875rem, 0.8px); text-align: center;
    display: inline-block; width: 30px; height: 30px;
    background-color: #d9e0e3; 
}
.cart__pr-price {
    @include font-type($light-gray-color, $main-font, 0.875rem, 1.563rem, 0.4px);
    padding-left: 2.563em;
    @include respond-to(sm) {padding-left: 0; font-size: 12px; width: 50px; text-align: right;}
}

.cart__item-total {@include font-type($gray-color, $main-font, 0.875rem, 2.188rem, 0.8px); text-transform: uppercase;}
.item-total__title {
    text-align: left;
    @include respond-to(sm) {font-size: 14px;}
}
.item-total__price {
    text-align: right;
    @include respond-to(sm) {font-size: 12px;}
}

// cart__terms-block

.cart__terms-block {
    position: relative; height: 100px;
    @include respond-to(sm) {text-align: center;}
}

// checkbox styles
.cart__check {
    display: none;
}
.cart__terms {
    @include font-type($light-gray-color, $second-font, 0.875rem, 1.563rem, 0.4px);
    cursor: pointer;
}
.cart__check + .cart__terms:before {
    content: '';
    display: inline-block; width: 14px; height: 14px; margin-right: 8px;
    position: relative; top: 2px;
    background-color: #fff;
    @include box-shadow(inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8));
}
.cart__check:checked + .cart__terms:before {
    background-color: #0089cf;
     @include box-shadow(
            inset 0px 0px 0px 1px rgba(150, 150, 150, 0.8),
            inset 0px 0px 0px 3px rgba(255, 255, 255, 1));
}
.cart-terms__link {}
.cart__submit {
    @extend .buttn__link_gray;
    position: absolute; bottom: 0; right: 0;
    padding: 20px 73px !important;
     @include respond-to(sm) {right: 38px;}
}

                // PRODUCT SECTION

// product__image
.product__image {
    margin-top: 99px;
    
    @include respond-to(sm) {margin: 90px auto 20px;}
    
}

// product_decription
.product-bar.product__decription {

}
.product-bar {
    @include respond-to(sm) {text-align: center;}
    min-width: 265px;
}
// like
.product-bar__like {
    text-align: center;  line-height: 50px; 
    width: 50px; height: 50px; margin-bottom: 41px;
    border: 1px solid #e4e4e4; cursor: pointer;

    @include respond-to(sm) {margin: 0 auto 20px;}

    i {
        color: #e4e4e4;
    }
    &:hover {
        border: 1px solid #000;
        i {color: #000;}
    }
}
// name 
.product-bar__name {
    margin-bottom: 18px;
}
.pr-name {}
.pr-name__brand {
    @include font-type($gray-color, $main-font, 25px, 25px, 0.6px); text-transform: uppercase;
    margin-bottom: 8px;

    @include respond-to(md) {font-size: 23px; line-height: 23px;}

    @include respond-to(xs) {font-size: 20px; line-height: 20px;}
}
.pr-name__title {
    @include font-type($gray-color, $main-font, 35px, 35px, 0.8px); text-transform: uppercase;
    margin-bottom: 4px;

    @include respond-to(md) {font-size: 32px; line-height: 32px;}

    @include respond-to(xs) {font-size: 28px; line-height: 28px;}
}
.pr-name__price {
    @include font-type($light_gray-color, $main-font, 18px, 18px, 0px); 
}

// preview
.product-bar__preview {margin-bottom: 5px;}
.preview-colors {margin-bottom: 12px;}
.preview-colors__item {
    display: inline-block;
    @include font-type($light_gray-color, $main-font, 14px, 14px, 0.7px); text-transform: uppercase;
}
.preview-colors__link {
    color: $blue-color; 
    &:hover {text-decoration: underline;}    
}  
.preview-image {
    display: inline-block; margin-right: 4px;    
}
.preview-image__item {
    width: 80px; height: 80px; padding: 22px 8px;
    background-color: #f5f5f5; border: 1px solid #e4e4e4;
}

// size
.product-bar__size.size {}
.size__name {
    @include font-type($light_gray-color, $second-font, 12px, 37px, 0.6px);
}
.size__buttn.buttn {}
.buttn__item {
    display: inline-block;
    position: relative;
}
.buttn__link {
    @include font-type($gray-color, $main-font, 14px, 14px, 0.7px); text-transform: uppercase;
    display: inline-block; margin-right: 6px;
    &:last-child {margin-right: 0px;}
}
.buttn__link_white {
    @extend .buttn__link;
    i {top: 2px; margin-left: 55px;}
    border: 1px solid  #e4e4e4;
    padding: 16px 19px;
    &:hover {background: #ccc;}
}
.buttn__link_gray {
    @extend .buttn__link;
    color: #fff; background: $gray-color;
    padding: 16px 30px 17px;
} 

// DropSize
ul.dropMe {
    width: 95%; display: none; 
    position: absolute; top: 100%; left: 0; z-index: 100;
    li {
        text-align: center;
        display: inline-block;
        border: 1px solid  #e4e4e4; background: #fff;

        &:hover {background: #ccc;}

        a {
            @include font-type($gray-color, $main-font, 14px, 14px, 0.7px); text-transform: uppercase;
             padding: 16px 19px; display: block;
        }
    }
}  
                            // INTRO SECTION
// intro-text
.intro-text {}
.intro-text__title {
    @include font-type($white-color, $main-font, 25px, 25px, 0.8px); text-transform: uppercase;
    margin-bottom: 15px;
    @include respond-to(md) {font-size: 23px; line-height: 23px; @include text-shadow(0px 0px 2px #000);}
    @include respond-to(xs) {font-size: 20px; line-height: 20px;}
}
.intro-text__text {
    @include font-type($white-color, $second-font, 14px, 25px, 0.2px);
    margin-left: 3px;
    @include respond-to(md) {@include text-shadow(0px 0px 2px #000);}  
}
                            // INFO SECTION
// info_story
.info__story {}
.story {margin-bottom: 36px;}
.story__s-title {
    @include font-type($light_gray-color, $main-font, 14px, 28px, 0.6px); text-transform: uppercase;
}
.story__title {
    @include font-type($gray-color, $main-font, 25px, 25px, 0.6px); text-transform: uppercase;
    margin-bottom: 16px;
    @include respond-to(md) {font-size: 23px; line-height: 23px;}
    @include respond-to(xs) {font-size: 20px; line-height: 20px;}
}
.story__text {
     @include font-type($light_gray-color, $second-font, 14px, 25px, 0.3px);
     margin-left: 2px;  
}   

// info_benefits
.info__benefits {}
.benefits {}
.benefits__s-title {
    @extend .story__s-title;
    display: block; margin-bottom: 17px;
}
.benefits__title {
    @include font-type($gray-color, $main-font, 18px, 23px, 0.9px); text-transform: uppercase;
    margin-left: 2px;
}
.benefits__small {
    @include font-type($light_gray-color, $second-font, 12px, 20px, 0.2px);
    display: block; margin-left: 2px; margin-bottom: 12px;
}

// sell_box
.info__sell-box {
    padding: 20px 25px 25px; margin-left: 18px; margin-top: 13px;
    border: 4px solid #e4e4e4; background: #fff; max-width: 301px; min-width: 301px;
    @include respond-to(lg) {width: 125%; margin-left: -54px;}
    @include respond-to(md) {width: 100%; margin-left: 0px;}
    @include respond-to(sm) {text-align: center; width: 320px; margin: 0 auto;}
}
.sb-name.sell-box__name {margin-bottom: 12px;} 
.sb-name__brand {
    @extend .pr-name__brand;
    margin-bottom: 5px;
}
.sb-name__title {
    @include font-type($light_gray-color, $second-font, 14px, 14px, 0.3px);
}
.sell-box__preview {}
.sb-preview-image {
    margin-top: 50px; margin-bottom: 50px;
    @include respond-to(sm) {width: 260px; margin: 0 auto 50px;}
    @include respond-to(xs) {width: 200px;}
}
.sb-preview__status {
    @include font-type($gray-color, $main-font, 14px, 25px, 0.7px); text-transform: uppercase;
    @include respond-to(xs) {font-size: 12px; letter-spacing: 0.4px; float: left;}
}
.sb-preview__price {
    float: right;
    @include font-type($gray-color, $main-font, 18px, 25px, 0.7px); text-transform: uppercase;
    @include respond-to(sm) {float: none; margin-left: 135px;}
    @include respond-to(xs) {font-size: 12px; letter-spacing: 0.4px; float: right; margin-left: 0;}
}
.sell-box__size.sb-size {}
.sb-size__buttn.sb-buttn {}
.sb-buttn__item {
    @extend .buttn__item;
}
.sb-buttn__link {
    @extend .buttn__link;
}
.sb-buttn__link_white {
    @extend .buttn__link_white;
    padding: 16px 14px 16px 19px;
    i {margin-left: 50px;}
}
.sb-buttn__link_gray {
    @extend .buttn__link_gray;
    padding: 16px 25px 17px;
}
                            // SOCIAL section
// social
.social__text {margin-bottom: 37px;}
.s-text {}
.s-text__s-title {
    @include font-type($light_gray-color, $main-font, 14px, 14px, 0.6px); text-transform: uppercase;
    display: block; margin-bottom: 5px;
}
.s-text__title {
    @include font-type($gray-color, $main-font, 25px, 25px, 0.6px); text-transform: uppercase; 
    @include respond-to(md) {font-size: 23px; line-height: 23px;}
} 
// social_img
.social__img {}
.jsCarousel {
    .owl-controls {
        .owl-nav { display: none;}
        .owl-dots {
            margin-top: 30px; text-align: center; margin-left: 10px;
            @include respond-to(md) {margin-left: 0px}
            .owl-dot {
                display: inline-block; margin-right: 5px;
                span {
                    width: 16px; height: 16px;
                    display: block;
                    @include border-radius(50%); border: 2px solid #ccc; @include transition(all 0.2s);        
                }
            &.active span {background: $blue-color; border: 2px solid $blue-color;}
            &:hover span {@include transform(scale(1.2));}
            &.active:hover span {@include transform(scale(1));}   
            }
        }
    }
}
                        // FOOTER
                        // FOOTER__TOP
.f-top {}
// logo
.f-top__logo {
    
}
// footer_menu
.f-top__menu.f-menu {}
.f-menu__item {}
.f-menu__link {
    @include font-type($light_gray-color, $main-font, 14px, 25px, 0.7px); text-transform: uppercase;
    &:hover {text-decoration: underline;}
    @include respond-to(xs) {font-size: 12px; letter-spacing: 0.4px;}
}
// socials_block
.f-top__social {}
.f-social {
    margin-bottom: 24px;
    @include respond-to(sm) {text-align: center; margin-top: 20px;} 
}
.f-social__item {
    display: inline-block; margin-right: 6px; margin-bottom: 6px;
    &:last-child {margin-right: 0px;}
}
.f-social__link {  
    line-height: 50px; text-align: center;
    display: block; width: 50px; height: 50px;
    border: 1px solid #252626;
    i {font-size: 18px; color:  $light_gray-color;}
    &:hover {
        border: 1px solid $blue-color;
        i {color: $blue-color;}
    }
}
.f-form {position: relative;}
.f-form__input {
    @include font-type($blue-color, $second-font, 14px, 14px, 0.3px);
    @include input-placeholder {color: $light_gray-color; font-size: 14px; font-family: $second-font;}
    border: none; border-bottom: 2px solid #252626; background: #0c0d0d;
    padding-left: 30px; padding-bottom: 10px; width: 100%;
    &:hover, &:focus {border-bottom: 2px solid $blue-color;} 
}
.f-form__button {
    position: absolute; left: -3px; top: 0;
    border: none; background: transparent;
    i {
        color: #252626;
    }
    &:hover {
        i {color: $blue-color;}
    }  
}  
                        // FOOTER__BOTTOM

.f-bot {text-align: center;}
.f-bot__copyright {
    @include font-type($light_gray-color, $second-font, 12px, 12px, 0.3px);
    @include respond-to(xs) {font-size: 9px;}
}
.copyright__link {
    color: $light_gray-color;
    &:hover {
        color: $blue-color;
    }
}

//                          PRODUCT_COVER PAGE

.product-cover {
    padding: 130px 50px 156px; background-color: #fff; margin-bottom: 20px;
    @include respond-to(sm) {padding: 130px 20px 156px;}  
}

// moduls

// product-cover__bar
.product-cover__bar {}
.pr-bar__item {
    margin-bottom: 10px;

}

.pr-bar__link {}
.pr-bar__img {
    @extend .preview-image__item;
    @include respond-to(xs) {
        width: 50px; height: 50px; padding: 10px 5px;
    }
 }
.pr-bar__img_cloth {
    padding: 0px 10px;
}
// product-cover__image
.product-cover__image-cont {
    @include respond-to(md) {
        height: 350px;
        position: relative;       
    }
    @include respond-to(xs) {height: 230px;}
}
.product-cover__image {
    margin: 25px auto 0;
    @include respond-to(md) {position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
    @include respond-to(sm) {max-width: 80%;}   
}
.product-cover__image_cloth {
    max-height: 420px;
    @include respond-to(sm) {max-width: 45%;}
    
}
.pr-name__type-of-cloth {
    @include font-type($gray-color, $main-font, 18px, 25px, 0.3px); text-transform: uppercase;
    margin-bottom: 5px;
}
// product-cover__description
.product-cover__description {
    margin-left: 20px;
    @include respond-to(md) {margin: 20px auto 0; text-align: center;}
    
}
// product-bar__description
.product-bar__description {margin-bottom: 10px;}
.pr-desc__s-title {@extend .story__s-title;}
.pr-desc__text {
    @include font-type($light_gray-color, $second-font, 14px, 25px, 0.3px);
    @include respond-to(xs) {font-size: 13px; line-height: 20px;} 
}
.pr-desc__bullet {}
.bullet__item {
    @include font-type(#a0a0a0, $second-font, 12px, 25px, 0.3px);

}
.icons-bullet__dot {top: 10px; margin-right: 14px;}

                    // SEARCH PAGE
.search-field {
    padding: 24px 50px 35px;
    @include respond-to(xs) {padding: 24px 20px 35px;} 
}
// moduls

// search-field__form
.search-field__form {}
.search {
    position: relative;
}
.search__text-block {
    margin-bottom: 32px;
}
.text-block {}
.text-block__title {
    @include font-type($gray-color, $main-font, 18px, 25px, 0.4px); text-transform: uppercase;
}
.text-block__tip {
    @include font-type($light_gray-color, $second-font, 14px, 25px, 0.4px);
}
.text-block__close {
    position: absolute; top: 1%; right: 2%;
    color: $light_gray-color; font-size: 28px;
    i {
        top: 4px;
    }
}
.search__input {
    @include font-type($blue-color, $main-font, 60px, 80px, 0.7px); text-transform: uppercase;
    width: 100%;
    border: none; border-bottom: 1px solid $light_gray-color; background-color: inherit;
    @include respond-to(sm) {font-size: 40px; line-height: 50px;}
    @include respond-to(xs) {font-size: 24px; line-height: 32px;}
}
.search__button {
    color: $light_gray-color; font-size: 33px;
    position: absolute; top: 90px; right: 27px;
    background-color: inherit; border: none;
    @include respond-to(sm) {font-size: 26px;}
    @include respond-to(xs) {font-size: 19px; top: 89px; right: 3px;}
}
.search-product {
    padding: 0px 50px 50px;
    @include respond-to(xs) {padding: 0px 20px 50px;} 
}

.search-product__type-of-cloth {
    @include font-type($light_gray-color, $main-font, 18px, 25px, 0.4px); text-transform: uppercase;
    margin-bottom: 25px;
}
.type-of-cloth__quality {
    color: $blue-color;
}
.search-product__block {
    @include respond-to(md) {margin-bottom: 20px;}
}
.pr-block {
    background-color: #fff; text-align: center;
    height: 430px; position: relative;
    @include respond-to(xs) {height: 360px;} 
}
.pr-block__img-cont {}
.pr-block__img {
    position: absolute; left: 0; top: 0; right: 0; bottom: 15%; margin: auto; max-height: 200px;
    max-width: 230px;
    @include respond-to(lg) {max-width: 190px;}
}
.pr-block__description {}
.bl-description {
   position: absolute; left: 0; top: 69%; right: 0; bottom: 0; margin: auto;
}
.bl-description__brand {
    @include font-type($gray-color, $main-font, 18px, 25px, 0.4px); text-transform: uppercase;
}
.bl-description__features {
    display: block; margin-bottom: 16px;
    @include font-type($light_gray-color, $second-font, 14px, 25px, 0.4px);
}
.bl-description__price {
    display: inline-block;
    @extend .bl-description__brand;
}

                // FOOTWEAR PAGE
.footwear-section {
    padding: 30px 50px 0px;
    @include respond-to(xs) {padding: 20px 20px 0px;} 
    &:last-child {
        padding-bottom: 30px;
        @include respond-to(xs) {padding-bottom: 20px;}
    }
}

// moduls

// footwear-section__title
.footwear-section__intro {
    text-align: center; margin: 0 auto 40px;
    position: relative;
}
.ft-title {
    @include font-type($gray-color, $main-font, 45px, 50px, 0.4px); text-transform: uppercase;
}
.ft-quantity {
    @include font-type($blue-color, $main-font, 14px, 25px, 0.4px);
}

// filter 
.footwear-section__form {
    position: absolute; bottom: 2%; right: 0;
}
.ft-filter {
    @extend .p-info__input_sel;
    @include font-type($gray-color, $main-font, 14px, 25px, 0.4px); text-transform: uppercase;
    border: none;
}
.select-cont_footwear {
    width: 110px;
}

// footwear-section__block
.footwear-section__block {}
.fw-block {
    @extend .pr-block;
}

.fw-block__img-cont {}
.fw-block__img {
    @extend .pr-block__img;
}
.fw-block__img_large {
    max-width: 100%;
    left: 5%;
}

.fw-block__description {}

.fw-description {
    @extend .bl-description;
}
.fw-description__brand {
    @extend .bl-description__brand;
}

.fw-description__features {
    @extend .bl-description__features;
}

.fw-description__price {
    @extend .bl-description__price;
}
.fw-description__old-price {
    @extend .bl-description__price; color: red; margin-left: 5px;
}
// left-block
.fw-left-block {
    @extend .pr-block;
    text-align: left; padding: 40px;
}
.left-block__img {
   float: left; 
   position: absolute; top: 0; right: 50%; left: 0; bottom: 0; margin: auto;
}
.left-block__description {
    position: absolute; top: 34%; right: 0; left: 48%; bottom: 0; margin: auto; margin-right: 40px;
}
.lb-description__brand {
    @extend .bl-description__brand;
}
.lb-description__features {
    @extend .bl-description__features;
    margin-bottom: 1px;
}
.lb-description__text {
    @extend .bullet__item;
    line-height: 21px; margin-bottom: 20px;
}
.lb-description__price {
    @extend .bl-description__price;
}

// brand-block
.fw-block__brand {
    background: url(../img/footwear__new-arrivals_theme.png) no-repeat 50% 50%;
    background-size: cover;

}
.brand-block__text {
    position: absolute; top: 10%; right: 0; bottom: 0; left: 0; margin: auto;
}
.brand-block__name {
    @include font-type($white-color, $main-font, 14px, 25px, 0.4px); 
}
.brand-block__title {
    @include font-type($white-color, $main-font, 55px, 50px, 4px); text-transform: uppercase;
    margin-top: 20px;
}
// action-bar

.action-bar {
    position: absolute; left: 13%; top: 12%;
    width: 70%; 

    &_cb {
        top: 8%;
    }
    &_lb {
        left: 0; top: -34%;
    }
}
.action-bar__like, .action-bar__cart {
    cursor: pointer; font-size: 20px; color: #a0a0a0;
    &:hover {
        color: $blue-color;
    }
}
.action-bar__like {float: left;}
.action-bar__label {
    @include font-type($white-color, $main-font, 14px, 14px, 0.4px); text-transform: uppercase;
    padding: 5px 15px; display: inline-block;
     @include border-radius(45%);
     &_blue {
        background-color: $blue-color;
     } 
     &_green {
        background-color: #83d78c;
     }
}
.action-bar__cart {float: right;}
